.CategorieDiv {
    width: 80vw;
    height: 3vh;
    font-size: 3vh;
    font-weight: 600;
    background-color: var(--categorie-color);
    color: white;
    text-align: center;
    border-radius: 10vh;
    padding: min(2vh, 2vw);
}