.ListeItem {
    background-color: var(--item-liste);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    min-height: 9vh;
    padding: min(2vh, 2vw);
    border: 1px solid var(--item-liste-border);
    border-radius: min(2vh, 2vw);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    transition: 0.5s ease;
}

.ListeItem:hover {
    background-color: var(--item-liste-hover);
    border: 1px solid var(--item-liste-border-hover);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    width: 92vw;
    margin-left: 0vw;
}

.ListeItemContenu{
    width: 50vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.BoutonPlusMoins {
    height: 8vh;
    width: 8vh;
    background-color: var(--bouton-background);
    border: 1px solid var(--bouton-border);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s ease;
    font-size: 3vh;
}

.BoutonPlusMoins:hover {
    background-color: var(--bouton-background-hover);
    border: 1px solid var(--bouton-border-hover);
}

.QuantiteItem {
    margin-top: 1vh;
    font-size: 3vh;
    font-weight: 600;
}

.NomItem {
    font-size: 2.5vh;
}