.ModeListeAjoutDiv {
    background-color: var(--mode-liste);
    width: 100vw;
    height: 10vh;
    padding-bottom: 5vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ModeListeAjout {
    width: 50vw;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.5s ease;
    cursor: pointer;
}

.ModeListeAjout:hover {
    background-color: var(--mode-liste-hover);
}

.ModeListeAjoutSelected {
    background-color: var(--mode-liste-selected) !important;
}


.MaListeBody {
    width: 100vw;
    height: 70vh;
    overflow-y: scroll;
}

.ViderListe {
    position: absolute;
    top: 6vh;
    right: 5vw;
    
    height: 6vh;
    width: 6vh;
    background-color: rgb(253, 192, 192);
    border-radius: 5vh;
    border: 5px solid red;
    color: red;
    font-size: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}