.ArticleMagasinDiv {
    background-color: var(--item-liste);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    min-height: 9vh;
    padding: min(2vh, 2vw);
    border: 1px solid var(--item-liste-border);
    border-radius: min(2vh, 2vw);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    transition: 0.5s ease;
}

.ArticleMagasinDiv:hover {
    background-color: var(--item-liste-hover);
    border: 1px solid var(--item-liste-border-hover);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    width: 92vw;
    margin-left: 0vw;
}

.ArticleMagasinChecked {
    background-color: var(--item-liste-checked);
    border: 1px solid var(--item-liste-border-checked);
}

.ArticleMagasinChecked:hover {
    background-color: var(--item-liste-checked);
    border: 1px solid var(--item-liste-border-checked);
}

.NomArticleMagasin {
    width: 40vw;
    font-size: 2.5vh;
    font-weight: 600;
}

.QuantiteArticleMagasin {
    width: 20vw;
    font-size: 2vh;
}

.CheckArticleMagasin {
    height: 8vh;
}

.ImageArticleMagasin {
    height: 9vh;
    border-radius: 1vh;
}