.BoutonModeDiv {
    background-color: white;

    height: 8vh;
    width: 80vw;
    padding-left: 5vw;
    padding-right: 1vw;

    border: 1vh solid var(--couleur-menu-princpal);
    border-radius: 10vh;
    box-shadow: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 3.5vh;
    font-weight: 800;
    color: var(--couleur-menu-princpal);

    margin-bottom: 5vh;

    cursor: default;
    text-decoration: none;

    transition: ease 0.5s;
}

.BoutonModeDiv:hover {
    width: 85vw;
    height: 12vh;

    background-color: var(--couleur-menu-princpal);
    color: var(--background-color);
}

.BoutonFlèche {
    height: 4vh;
    width: 4vh;

    border: 0.5vh solid var(--couleur-menu-princpal);
    border-radius: 4vh;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    font-weight: 600;
    color: var(--couleur-menu-princpal);
}

.Disabled {
    border: 1vh solid lightgray;
    color: lightgray;
}

.Disabled:hover {
    height: 8vh;
    width: 80vw;

    background-color: var(--background-color);
    border: 1vh solid lightgray;
    color: lightgray;
}