.FoyerDiv {
    background-color: var(--foyer);
    border-bottom: 1px solid lightgray;

    transition: 0.5s ease;
    width: 100vw;
}

.FoyerInfoDiv {
    width: 100vw;
    height: 10vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    transition: 0.5s ease;
}

.FoyerDiv:hover {
    background-color: var(--foyer-hover);
}

.FoyerSelected:hover {
    background-color: var(--foyer-selected-hover) !important;
}

.FoyerImage {
    width: 6vh;
    min-width: 6vh;
    height: 6vh;
    padding: 2vh;

    transition: ease 0.5s;
}

.FoyerImage:hover {
    width: 7vh;
    min-width: 7vh;
    height: 7vh;
    padding: 1.5vh;
}

.FoyerName {
    width: 30vw;
    min-width: 30vw;

    font-size: 2.2vh;
    font-weight: 500;
    text-align: center;
}

.FoyerDescription {
    text-align: center;
    color: gray;
}

.FoyerSelected {
    background-color: var(--foyer-selected);
}
