.FoyerListDiv {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    height: 85vh;
    overflow-y: scroll;
}

.WarningSelected {
    width: 100vw;
    height: 8vh;

    font-size: 3.5vh;
    font-weight: 600;
    color: red;

    display: flex;
    justify-content: center;
    align-items: center;

}