.App {
  background-color: var(--background-color);

  text-align: center;
  
  height: 98vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  overflow: hidden;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Hidden {
  display: none;
  height: 0;
  width: 0;
}

.HeaderBar {
  background-color: var(--header-bar);
  color: var(--bouton-retour);
  padding-top: 5vh;
  height: 10vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 5vh;
  font-weight: 800;
}

/* Masquer les flèches sur Chrome, Safari, Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Masquer les flèches sur Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
