.App {
  background-color: var(--background-color);

  text-align: center;
  
  height: 98vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  overflow: hidden;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Hidden {
  display: none;
  height: 0;
  width: 0;
}

.HeaderBar {
  background-color: var(--header-color);
  height: 10vh;
  width: 100vw;

  margin-top: 5vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 5vh;
  font-weight: 800;
}