:root {
    --couleur-menu-princpal: #669bbc;
    --bouton-retour: white;
    --background-color: white;
    --header-bar: #669bbc;

    --bouton-background: #dddddd;
    --bouton-border: #cccccc;
    --bouton-background-hover: #cccccc;
    --bouton-border-hover: #bbbbbb;

    --item-liste: #eeeeee;
    --item-liste-hover: #dddddd;
    --item-liste-border: #dddddd;
    --item-liste-border-hover: #cccccc;
    --item-liste-checked: #80feb7;
    --item-liste-border-checked: #77e2a5;
    --item-liste-checked-hover: #77e2a5;
    --item-liste-border-checked-hover: #74c894;

    --categorie-color: #4975a0;


    --foyer: white;
    --foyer-hover: #eeeeee;
    --foyer-selected: #80feb7;
    --foyer-selected-hover: #77e2a5;
    --mode-liste: #669bbc;
    --mode-liste-hover: #5583a0;
    --mode-liste-selected: #4d7690;
}