:root {
    --couleur-menu-princpal: #669bbc;
    --bouton-retour: white;
    --background-color: white;
    --header-bar: #669bbc;

    --bouton-background: #dddddd;
    --bouton-border: #cccccc;
    --bouton-background-hover: #cccccc;
    --bouton-border-hover: #bbbbbb;

    --foyer: white;
    --foyer-hover: #eeeeee;
    --foyer-selected: #80feb7;
    --foyer-selected-hover: #77e2a5;
    --mode-liste: #669bbc;
    --mode-liste-hover: #5583a0;
    --mode-liste-selected: #4d7690;
}