.AddRecetteDiv {
    display: flex;
    flex-direction: column;
}

.RecetteCoreDiv {
    height: 10vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.IngredientsRecetteDiv {
    width: 100vw;
    height: 50vh;
    
    display: flex;
    flex-direction: column;

}

.IngredientTitle {
    margin-top: 2vh;
    margin-bottom: 2vh;
    
    font-size: 3vh;
    font-weight: 700;

}

.IngredientListeElement {
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.IngrNameListe {
    width: 30vw;
    font-size: 2vh;
    font-weight: 500;
}

.IngredientSelect {
    width: 30vw;
    font-size: 2vh;
    font-weight: 500;
}

.QuantiteIngredientListDiv {
    width: 15vw;
    display: flex;
    flex-direction: row;
    text-align: start;
    align-items: center;
}

.IngrQuantiteListe {
    width: 11vw;
    font-size: 2vh;
    border: 0px solid;
    border-bottom: 1px solid lightgray;
    outline: none;
    text-align: end;
    margin-right: 1vw;

    transition: 0.5s ease;
}

.IngrQuantiteListe:hover {
    border-bottom: 1px solid gray;
}

.IngrQuantiteListe:focus {
    border-bottom: 1px solid gray;
}

.BoutonSupprimer {
    width: 20vw;
    background-color: red;
}

.BoutonOkRecette {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;

    padding: 1.5vh;
    
    font-size: 3vh;

}

.BoutonAjouterIngredient {
    width: 90vw;
    margin-left: 5vw;
}

.LigneBoutons {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.BoutonSupprimerRecette {
    width: 90vw;
    margin-left: 5vw;
    margin-top: 1vh;

    padding: 1.5vh;
    
    font-size: 3vh;

    background-color: red;

}