.RecetteDiv {
    background-color: var(--item-liste);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    min-height: 9vh;
    padding: min(2vh, 2vw);
    border: 1px solid (--item-liste-border);
    border-radius: min(2vh, 2vw);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    transition: 0.5s ease;
}

.RecetteDiv:hover {
    background-color: var(--item-liste-hover);
    border: 1px solid var(--item-liste-border-hover);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    width: 92vw;
    margin-left: 0vw;
}

.RecetteDiv:hover {
    background-color: var(--foyer-hover);
}

.RecetteName {
    width: 50vw;
    font-size: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-align: center;
}

.RecetteDescription {
    width: 20vw;
    color: gray;
    text-align: center;
}