.IngredientDiv {
    background-color: var(--item-liste);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    min-height: 9vh;
    padding: min(2vh, 2vw);
    border: 1px solid (--item-liste-border);
    border-radius: min(2vh, 2vw);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    transition: 0.5s ease;
}

.IngredientDiv:hover {
    background-color: var(--item-liste-hover);
    border: 1px solid var(--item-liste-border-hover);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    width: 92vw;
    margin-left: 0vw;
}

.IngredientEssential {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

.IngrName {
    font-size: 3vh;
    font-weight: 600;
}

.IngrType {
    margin-bottom: 1vh;
}

.IngrImage {
    height: 9vh;
    margin-top: auto;
    margin-bottom: auto;

    border: 1px solid var(--item-liste-border);
}

.IngrDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}