#PageIngredientDiv{
    background-color: var(--background-color);
}

.Hidden {
    display: none;
}

.IngredientListDiv {
    height: 85vh;
    overflow-y: scroll;

    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}